<!DOCTYPE html>
<html>
  <head>
    <title>Administracion | PetsLife</title>
    <%- include ('../partials/head.html')%>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/css/administration.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%- include ('../partials/navigation-admin.html')%>

    <div class="container min-vh-100 pt-4">
      <div class="row min-vh-100">

        <div class="col">
          <div class="text-center pb-5 h1" id="msName">Veterinaria</div>

          <div id="msBody">
            <button
              class="btn btn-petslife"
              id="agregarClienteBtn"
              data-bs-toggle="modal"
              data-bs-target="#modal-veterinaria"
              >Agregar Cliente</button
            >
            <button
              class="btn btn-petslife"
              id="agregarMascotaBtn"
              data-bs-toggle="modal"
              data-bs-target="#modal-veterinaria"
              >Agregar Mascota</button
            >
      
            <a href="/lista-turnos" class="btn btn-petslife"
              >Atender mis turnos</a
            >
            <div>
              <table class="table table-striped table-hover mt-4 caption-top">
                <caption>Listado de turnos</caption>
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Horario</th>
                    <th scope="col">Mascota</th>
                    <th scope="col">Veterinario</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Consultorio</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="turnosTableBody"> </tbody>
              </table>
              <div class="spinner-border" role="status" id="loadingSpinner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal Veterinaria MS-->
    <div class="modal fade" id="modal-veterinaria" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content" id="modal-content-veterinaria"> </div>
      </div>
    </div>

    <%- include ('../partials/footer.html')%>

    <script type="module" src="/js/administration/admin-clinic.js"></script>
  </body>
</html>
