html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.header {
  flex-shrink: 0;
  flex-grow: 0;
}
.content {
  flex-shrink: 1;
  flex-grow: 1;
  padding: 3px 5px;
  position: relative;
  overflow-y: auto;
}

.footer {
  flex-shrink: 0;
  flex-grow: 0;
}
p {
  font-family: Lato;
}

#items-button {
  text-align: -webkit-right;
}
