<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Administracion | PetsLife</title>
    <%- include ('../partials/head.html')%>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../../assets/css/administration.css" />
  </head>
  <body>
    <%- include ('../partials/navigation-admin.html')%>
    <div class="container">
      <table class="table table-hover table-borderless mt-4 caption-top text-center">
        <h1 class="text-center fst-italic title-turnos-veterinario"
          >Listado de turnos del día</h1
        >
        <thead>
          <tr class="border border-dark border-1">
            <th>Horario</th>
            <th>Mascota</th>
            <th>Veterinario</th>
            <th>Cliente</th>
            <th>Telefono</th>
            <th>Consultorio</th>
          </tr>
        </thead>
        <tbody id="turnos-list"> </tbody>
      </table>
    </div>

    <!-- Listado de modales -->
    <div id="modal-list"></div>

    <script
      type="module"
      src="../../js/administration/turnosVeterinario.js"
    ></script>
    <%- include ('../partials/footer.html')%>
  </body>
</html>
