<header>
  <div class="container">
    <div class="row justify-content-between">
      <!-- col-4 -->
      <div class="col-lg-auto d-flex align-items-center justify-content-lg-start justify-content-center">
        <a class="navbar-brand" href="/" title="Mascota Hernan Pets Life Reñaca">
          <img class="img-fluid" src="https://dojiw2m9tvv09.cloudfront.net/52509/1/T_logopestlife3173.png?63"
            title="Mascota Hernan Pets Life Reñaca" alt="Mascota Hernan Pets Life Reñaca">
        </a>
      </div>
      <div class="col-lg-auto text-right">
        <div class="row align-items-center my-1 my-lg-0">
          <!-- abre menu-->
          <div class="col-auto d-lg-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal"
              aria-controls="menuPrincipal" aria-expanded="true" aria-label="Toggle navigation">
              <i class="fas fa-bars" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-12 d-none d-lg-block">
            <aside class="bs-social-media">




              <a class="btn btn-link" title="visitanos en instagram" href="https://www.instagram.com/petsliferenaca_/"
                target="_blank" rel="nofollow noopener noreferrer">
                <i class="white fab fa-instagram" aria-hidden="true"></i>
              </a>









              <a class="btn btn-link" title="visitanos en twitter" href="https://mobile.twitter.com/PetslifeRenaca"
                target="_blank" rel="nofollow noopener noreferrer">
                <i class="white fab fa-twitter" aria-hidden="true"></i>
              </a>





              <a class="btn btn-link" title="visitanos en youtube" href="www.youtube.com/petslife.renaca"
                target="_blank" rel="nofollow noopener noreferrer">
                <i class="white fab fa-youtube" aria-hidden="true"></i>
              </a>


            </aside>

          </div>

          <div class="col col-lg-12 mb-lg-2">
            <form id="bs-header-search "
              class="bs-header-search form-inline d-flex justify-content-center justify-content-lg-end"
              action="/search">
              <div class="input-group ">
                <input class="form-control  bs-rounded" type="search" name="search_text" placeholder="Buscar"
                  aria-label="Search" required="" oninvalid="this.setCustomValidity('Escribe que deseas buscar')"
                  oninput="setCustomValidity('')">
                <div class="input-group-append">
                  <button class="btn btn-primary bs-rounded" type="submit">
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-auto d-flex align-items-center d-lg-none">


            <a class="btn-login btn btn-link text-white d-flex justify-content-center" href="/login">
              <i class="fas fa-user" aria-hidden="true"></i><i class="bi bi-instagram"></i>
              <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#heart-fill" />
              </svg>
            </a>


            <a class="btn btn-link" href="/cart/display/carro" title="carro">
              <i class="fas fa-shopping-bag mx-1 color-icon-login" aria-hidden="true"></i>
              <span data-bs="cart.items" class="badge badge-secondary">0</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--row-->
  </div>
  <nav class="bs-header-navbar d-print-none">
    <div class="container">
      <div class=" navbar navbar-expand-lg align-items-start">
        <section class="col-md col-12 position-static">
          <div class="collapse navbar-collapse" id="menuPrincipal">
            <ul class="bs-header-nav navbar-nav" role="navegation">
              <li class="nav-item bs-menu-close">
                <button type="button" class="bs-menu-lv1" data-toggle="collapse" data-target="#menuPrincipal"
                  aria-controls="menuPrincipal" aria-expanded="true" aria-label="Toggle navigation">
                  <i class="fas fa-arrow-alt-circle-left" aria-hidden="true"></i>
                </button>
                <div class="dropdown-divider"></div>
              </li>
              <li class="nav-item">
                <a class="bs-menu-lv1 " style="text-decoration: none" href="/" title="Inicio" role="menuitem">
                  Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="bs-menu-lv1 " style="text-decoration: none" href="/store" title="Destacados" role="menuitem">
                  Tienda
                </a>
              </li>
              <li class="nav-item">
                <a class="bs-menu-lv1 " style="text-decoration: none" href="/clinic-history" title="Nosotros" role="menuitem">
                  Veterinaria
                </a>
              </li>
              <li class="nav-item">
                <a class="bs-menu-lv1 " style="text-decoration: none" href="/adoptions" title="Adopciones" role="menuitem">
                  Adopciones
                </a>
              </li>
            </ul>
          </div>
        </section>

        <!-- section -->
        <section class="col-auto d-none d-lg-block bs-header-cart">


          <a class="btn-login btn btn-link text-white d-flex justify-content-center" href="/login">
            <i class="fas fa-user" aria-hidden="true"></i>
          </a>


        </section>



      </div>
    </div><!-- container-->
  </nav>
</header>