<!DOCTYPE html>
<html>
  <head>
    <title>Store | PetsLife</title>
    
   
    <script type="module" src="/js/store/store.js"></script>
    <%- include ('../partials/head.html')%>
  </head>

  <body>
    <%- include ('../partials/navigation.html')%>

    <link rel="stylesheet" href="../../assets/css/store.css">
    <script type="module" src="js/store/store.js"></script>
    


<body style="background-color: #ededed;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" id="navbarP">
        <div class="container">
            <a class="navbar-brand" href="/">PetsLife</a>
            <form class="d-flex col-5 border bg-white" id="buscador">
                <input class="form-control" name="buscar" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn" type="submit"><i style="background-color: white;" class="bi bi-search"></i></button>
            </form>
            <div class="cart">
                <a style="color: black" href="/cart"><i class="bi bi-cart text-white"></i></a>
            </div>
        </div>
    </nav>

    <div class="container">
        <nav class="pt-3" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none" style="color: #666" href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Store</li>
            </ol>
        </nav>
        <div class="row ">
            <div class="col-3">
                <dl>
                    <dt>Precio:</dt>
                    <dd>...</dd>
                    <dt>Categoria:</dt>
                    <dd><button class="btn btn-primary categoria"  value="farmacia">Farmacia</button></dd>
                    <dd><button class="btn btn-primary categoria"  value="alimento">Alimento</button></dd>
                    <dd><button class="btn btn-primary categoria"  value="accesorio">Accesorio</button></dd>
                </dl>
            </div>

        <div id="product-list" class="col">
          <div class="spinner-border text-dark" id="loader" role="status"></div>
        </div>
      </div>
    </div>

    <%- include ('../partials/footer.html')%>
  </body>
</html>
