<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Registro</title>
    <%- include ('../partials/head.html')%>
  </head>
  <body>
    <%- include ('../partials/navigation.html')%>
    <div class="container">
      <div>
        <h1 class="my-4">Registrarse</h1>
        <form id="form-register" class="row g-3">
          <div class="col-md-6">
            <label for="nombre" class="form-label">Ingrese su nombre:</label>
            <input type="text" name="nombres" class="form-control mb-3" required >
            <div class="valid-feedback">
              Bien!
            </div>
            <div class="invalid-feedback">
              Ingrese un Nombre.
            </div>
          </div>

          <div class="col-md-6">
            <label for="apellido" class="form-label">Ingrese su apellido:</label>
            <input type="text" name="apellidos" class="form-control mb-3" required >
            <div class="valid-feedback">
              Bien!
            </div>
            <div class="invalid-feedback">
              Ingrese un Apellido.
            </div>
          </div>

          <div class="col-md-6">
            <label for="dni" class="form-label">Ingrese su dni:</label>
            <input type="number" name="dni" class="form-control mb-3" required >
            <div class="valid-feedback">
              Bien!
            </div>
            <div class="invalid-feedback">
              Ingrese un DNI.
            </div>
          </div>

          <div class="col-md-6">
            <label for="telefono" class="form-label">Ingrese su telefono:</label>
            <input type="number" name="telefono" class="form-control" required >
            <div class="valid-feedback">
              Bien!
            </div>
            <div class="invalid-feedback">
              Ingrese un Telefono.
            </div>
          </div>

          <div class="col-12">
            <label for="direccion" class="form-label">Ingrese su dirección:</label>
            <input type="text" name="direccion" class="form-control" required >
            <div class="valid-feedback">
              Bien!
            </div>
            <div class="invalid-feedback">
              Ingrese una Direccion.
            </div>
          </div>

          <div class="col-md-6">
            <label for="email" class="form-label">Ingrese su email:</label>
            <input type="email" name="email" class="form-control mb-3" required >
            <div class="valid-feedback">
              Bien!
            </div>
            <div class="invalid-feedback">
              Ingrese un Mail valido.
            </div>
          </div>

          <div class="col-md-6">
            <label for="contraseña" class="form-label">Ingrese su contraseña:</label>
            <input
              type="password"
              name="contraseña"
              class="form-control mb-3"
              required
            >
            <div class="valid-feedback">
              Bien!
            </div>
            <div class="invalid-feedback">
              Ingrese una Contraseña.
            </div>
          </div>

          <div class="col-12">
            <div class="form-check form-check-inline">
              <input
                type="radio"
                name="sexo"
                id="hombre"
                class="form-check-input"
                value="masculino"
                required
              />
              <label for="hombre" class="form-check-label form-check-inline"
                >Hombre</label
              ></div
            >
            <div class="form-check form-check-inline">
              <input
                type="radio"
                name="sexo"
                id="mujer"
                class="form-check-input"
                value="femenino"
                required
              />
              <label for="mujer" class="form-check-label">Mujer</label></div
            >
            <div class="form-check form-check-inline">
              <input
                type="radio"
                name="sexo"
                id="otro"
                class="form-check-input"
                value="otro"
                required
              />
              <label for="otro" class="form-check-label">Otro</label>
            </div>
            <div class="row justify-content-center">
              <button class="btn btn-primary my-3 w-50 " type="submit" id="btn-registrar"
                >Registrarse</button
              ></div>
          </div>
        </form>
      </div></div
    >
    <%- include ('../partials/footer.html')%>
    <script type="module" src="/js/login/register.js"></script>
    <script type="module" src="/js/services/registerService.js"></script>
  </body>
</html>
